.app {
  height: 100vh;
  width: 100vw;
}

.app__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper__main {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 8px;
  margin: 8px;
}

.main__cameras {
  display: flex;
  flex: 2;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: #C4C4C4;
}

.main__rightColumn {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.rightColumn__users {
  display: flex;
  flex: 1;
  border-radius: 20px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: gray;
  flex-direction: column;
}

.rightColumn__chat {
  display: flex;
  flex: 1;
  border-radius: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.wrapper__footer {
  display: flex;
  flex: 0 0 auto;
  box-sizing: border-box;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.footer__roomID {
  display: flex;
  text-align: center;
  width: 33%;
}

.footer__roomID p {
  margin-left: 3%;
}

.footer__buttons {
  display: flex;
  justify-content: center;
  width: 33%;
}

.footer__time {
  display: flex;
  width: 33%;
}

.footer__time p {
  margin-left: 50%;
}
