
#root{
  display:flex;
  justify-content: center;
}

.app {
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.app > *{
  margin-bottom: 5%;
}

.app__cam {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 300px;
  height: 300px;
  background-color: black;
}

.app__cam label {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 30px;
}

.cam__sound {
  background-color: green;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
}

.app__buttons {
  display: flex;
  justify-content: center;
}

.app__inputName {
  display: flex;
  font-size: 20px;
  justify-content: center;
}

.app__panels {
  display: flex;
  justify-content: center;
}

.panels__connect {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 125px;
  border: 2px solid black;
  margin-right: 5%;
  align-items: center;
  justify-content: space-around;
}

.panels__connect p {
  font-weight: bold;
  font-size: 20px;
}

.connect__form{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 125px;
  justify-content: space-around;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.connect__form button {
  font-size: 20px;
  width: 50%;
}

.panels__create {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 125px;
  border: 2px solid black;
  align-items: center;
  justify-content: space-around;
}

.panels__create p {
  font-weight: bold;
  font-size: 20px;
}

.panels__create button {
  font-size: 20px;
  width: 50%;
}
